body {
    background-color: #111111;
    color: white;

}

/* FONTS */
.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.github-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.header-btn-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 25px;
}
.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.github-btn {
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
}
.github-btn:hover {
    color: #9e9e9e;
}

.signup-btn {
    color: white;
    background-color: #305032;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
}
.login-btn {
    color: white;
    text-decoration: none;
}

/* POSTERS */

.image-container {
  display: flex;
  width: 70%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin: 10rem auto;
}

.cover {
  width: 100%;
  max-width: 330px;
  height: auto;
  aspect-ratio: 330 / 400;
  object-fit: cover;
  border-radius: 20px;
}

.details {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.name,
.price {
  font-size: 20px;
  margin: 10px;
}

.add {
  background-color: #305032;
  font-size: 20px;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}