{% include "header.html" %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-overlay" onclick="this.style.display='none'">
                <div class="flash-message success inter-regular">
                    {% for category, message in messages %}
                      <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <div class="image-container">
        {% for poster in posters %}
            <div class="poster">
                <a href="{{ url_for('poster_page', poster_name=poster.name) }}"><img class="cover" src="{{ poster.image_url }}" alt=""></a>
                <div class="details">
                    <div>
                    <h2 class="name inter-light">{{ poster.name  }}</h2>
                    <h2 class="price inter-light">{{ "{:,}".format(poster.price|int) }}t</h2></div>
                    <div><a class="add inter-regular" href="#">Add</a></div>
                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>